__pycache__
*.pyc
*.pyo
*.pyd
.pyc
.pyo
.coverage
.pytest_cache
.hypothesis
.venv
venv/
env/
.git
.gitignore
README.md
Dockerfile
.dockerignore
.pylintrc
pytest.ini
*.log
*.sqlite3
.env
.history
node_modules
website/
backend/__pycache__
backend/src/__pycache__
backend/src/api/__pycache__
backend/src/middleware/__pycache__
backend/src/models/__pycache__
backend/src/scripts/__pycache__
backend/src/services/__pycache__
backend/src/utils/__pycache__